
<div class="container-fluid" id="HOME" style="margin-top: 50px;">

<app-navigationbar></app-navigationbar>

<div class="row" >

  <div class="col-sm-3">
      <app-PromoAdvert></app-PromoAdvert>

  </div>
  <div class="col-sm-6">
      <app-gallerythumb></app-gallerythumb>
      <app-updatesthumb></app-updatesthumb>
    </div>
    <div class="col-sm-3">
       <app-videosthumb></app-videosthumb>
      </div>

</div>

</div>

<div class="container" >
<app-cinema143video></app-cinema143video>

</div>
